################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BD
/ClubDeportivo/.vs/ClubDeportivo/v16/.suo