
@{
    ViewBag.Title = "BuscarSocioCedula";
}

<h2>Buscar Socio</h2>

<form action="/socio/Detalle" method="post">
    <label for="cedula">Ingrese cedula a buscar:</label>
    <input type="number" required name="cedula" placeholder="Ingrese cedula" value="cedula" /> <br />
    <button type="submit">Buscar socio</button>
</form>