@using Dominio
@model Socio
@{
    ViewBag.Title = "IrAModificarSocio";
}

<h2>IrAModificarSocio</h2>

<form action="/socio/ModificarSocio" method="post">
    <label for="Cedula">Cedula:</label>
    <input type="number" required name="Cedula" value="@Model.Cedula" disabled /><br />
    <label for="Nombre">Nombre:</label>
    <input type="text" required name="Nombre" value="@Model.Nombre" /><br />
    <label for="FechaNac">Fecha de Nacimiento:</label>
    <input type="date" required name="FechaNac" value="@Model.FechaNac" /><br />
    <button type="submit">Modificar socio</button>
</form>
