@{
    ViewBag.Title = "ListaHorariosDisponibles";
}

<h2>ListaHorariosDisponibles</h2>

@foreach (var item in ViewBag.res)
{
    <p>@item.Actividad</p>
    <p>@item.Hora</p>
    <p>@item.Id</p>
    <form action="/RegistroActividad/IngresarActividad?cedula=@ViewBag.socio" method="post">
        <input type="submit" value="Ingresar Actividad" />
    </form>
}
